<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>用户登录</title>
</head>
<body>
<h2>用户登录</h2>
<div id="message" class="message" style="display: none;"></div>
<form id="loginForm">
    <div class="form-group">
        <label for="username">用户名:</label>
        <input type="text" id="username" required>
    </div>
    <div class="form-group">
        <label for="password">密码:</label>
        <input type="password" id="password" required>
    </div>
    <button type="button" onclick="login()">登录</button>
    <button type="button" onclick="register()">注册</button>
</form>

<script>
    function register(){
        window.location.href= '/register'
    }
    function login() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('/seckill/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                password: password
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                const messageElement = document.getElementById('message');
                messageElement.style.display = 'block';

                if (data.isSuccess) {
                    messageElement.className = 'message success';
                    messageElement.textContent = `登录成功！欢迎 ${data.data.username}`;
                    // 模拟跳转到主页
                    setTimeout(() => {
                        window.location.href = '/seckill/product';
                    }, 2000);
                } else {
                    messageElement.className = 'message error';
                    messageElement.textContent = data.message;
                }
            })
            .catch(error => {
                const messageElement = document.getElementById('message');
                messageElement.style.display = 'block';
                messageElement.className = 'message error';
                messageElement.textContent = '登录请求失败: ' + error.message;
            });
    }
</script>
</body>
</html>