<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<div th:each="user : ${users}">
    <div th:text="${user.getUsername()}">用户名</div>
    <div><img th:src="${user.getAvatar()}">用户头像</div>
    <div th:each="product : ${user.getProducts()}" class="product">
        <div th:text="${product.getName()}">商品名称</div>
        <div th:text="${product.getDescription()}">商品详情</div>
        <div th:text="${product.getStatus()}">商品状态</div>
        <div th:text="${product.getPrice()}">商品价格</div>
        <div><span>库存：</span><span th:text="${product.getStock()}"></span></div>
    </div>
</div>
</body>
</html>